* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: #333;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  header #logo {
    font-size: 2em;
  }
  
  header .navbar a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 15px;
    text-decoration: none;
  }
  header .navbar a:hover{
    background-color: #45a049;
  }
.banner {
    position: relative;
    padding: 90px 0 0 0;
}

.banner img {
    width: 100%;
}
.fl{
    padding-top:8px;
    padding-right:50px;
    padding-left: -40px;
}.fll{
    padding-top:8px;
    padding-right:65px;
    margin-left:-10px;
}.flll{
    padding-top:8px;
    padding-right:109px;
    
}.lf{
    padding-top:8px;
    padding-right:70px;

}.ol{
font-size:20px;}
.p{
padding-right:90px;}
.l{
padding-right:103px;}
.ll{
padding-right:38px;}
.r{
padding-left:10px;
padding-top:8px;}
.b{
padding-left:-10px;}
.search-bar {
    margin: 20px;
display:flex;
    padding-left: 300px;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px 5px 5px 5px;
    outline: none;           
}
.search-barr {
    margin: 20px;
display:flex;
    padding-left: 310px;

}.place,.c{
    margin: 20px;
    display:flex;
    padding-left: 300px;
}
.place input[type="text"],.c input[type="text"]{
    width: 200px;

    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px 5px 5px 5px;
    outline: none;            
}.c input[type="text"]{
width:500px;
padding-bottom:100px;}


.search-barr input[type="text"] {
    width: 500px;
    padding: 10px;
    padding-bottom:100px;
    border: 2px solid #4CAF50;
    border-radius: 5px 5px 5px 5px;
    outline: none;            
}


  
.product-listings {
    display: flex;
   
.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-column {
    width: 30%;
    margin: 10px;
}

.footer-column h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin: 10px ;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column p {
    margin-top: 10px;
}

.footer-column .social-icons {
    margin-top: 10px;
}

.footer-column .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}



  
